body{
    background-color:rgb(207, 207, 207);
    background-image: url("bg.png");
    
    
}

#wrapper {
    min-width: 1002px;
}


#logo {
    z-index: 0;
    width: 25%;
}

.txtar1 {
   padding: 2.5%;
   align-self: center;
   font-family: Helvetica;
   border-style: solid;
   border-width:thick ;
   border-color: rgb(0, 0, 0);
   margin-top: 1%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.txtar1::placeholder {
    font-size: 15px;
}

.txtar2 {
font-family: Helvetica;
   border-style: dashed;
   border-color: rgb(0, 0, 0);
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.selection {
    color: white;
    margin-top: 1%;
    text-align: center;
    display: block;
     margin-left: auto;
     margin-right: auto;
     font-size: 130%
    }

.btn1 {
    display: block;
     margin-left: auto;
     margin-right: auto;
}

.btn2 {
    display: block;
     margin-left: auto;
     margin-right: auto;
}

.link{
    text-align: center;

}
/*Tab Style*/
.tab {
    overflow:hidden;
    border: 1px solid #ccc;
    background-color: #000000;
}
/*Tab button Style*/
.tab button{
    background-color: darkgray;
    float:left;
    border:none;
    outline:none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
/*Tab button Style*/
.tab button:hover {
    background-color: rgb(48, 48, 48);
}
/*Tab button active Style*/
.tab button.active{
    background-color: black;
}
/*Tab button active Style*/
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.smem {
    font-size:90%;
    
    
}
