body{
    background-color:rgb(207, 207, 207)
}

#wrapper {
    min-width: 1002px;
}

.calendar{
   margin: auto;
   max-width: 500px;
   font-family: serif;
   font-weight: bold;
    color: black

}

.month{
    margin-top: 50px;
    text-align: center;
    font-size: 13px;
    background-color: #a1a0a0;
    letter-spacing: 1px;
    color: #000000;
    border:2px solid rgb(0, 0, 0);
    
}

table,th,td{
    width: 100%;
    table-layout:fixed;
    text-align: center;
    font-size: 13px;
    background-color: #c4c3c3e8;
    border:2px solid rgb(0, 0, 0);
    border-collapse: collapse;
}

.weeks {
    background-color: #1eff00;
    font-family: arial black;
}

tr,th,td {
    padding: 15px;

}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #fd96de;
  }
  
  /* The actual popup */
  .popup .poptxt {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
 
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

/*Tab Style*/
.tab {
    overflow:hidden;
    border: 1px solid #ccc;
    background-color: #000000;
}
/*Tab button Style*/
.tab button{
    background-color: darkgray;
    float:left;
    border:none;
    outline:none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/*Tab button Style*/
.tab button:hover {
    background-color: rgb(48, 48, 48);
}
/*Tab button active Style*/
.tab button.active{
    background-color: black;
}
/*Tab button active Style*/
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

